.hero{
    background: rgb(11,5,114);
    background: linear-gradient(90deg, rgba(11,5,114,1) 1%, rgba(59,196,255,0.9819963385744923) 84%, rgba(0,212,255,1) 100%);
    display: flex;
    margin-top: 0;
    height: 100%;
    overflow-x: hidden;
    margin-right: 0px;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-latest-btn:hover img{
position: relative;
left: 8px;

transition: 2000ms;
}
.hero-left h2{
    color: #e1e1e1;
    font-size: 20px;
    font-weight: 600;
    margin-left:7px;
}
.hero-left p{
    font-weight: 700;
    font-size: 100px;
    color: #ffffff;
}
.hero-right img{
    width: 800px;
    height: 800px;
    margin-right: 50px;
    
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-hand-icon{
    display: flex;
    align-items:center;
    gap: 20px;
}
.hero-hand-icon img{
width: 105px;

}
.hero-latest-btn{
display: flex;
justify-content: center;
align-items: center;
background-color: red;
outline-style: none;
color: #ffffff;
border-radius: 40px;
width: 270px;
height: 80px;
margin-top:30px ;
font-weight: 100;
cursor: pointer;
font-size: 21px;
gap: 9px;
}
.hero-latest-btn:hover{
    transform: scale(1.02);
    transition: 0.1s;
}
@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-left {
        padding-left: 20px;
    }

    .hero-right img {
        width: 100%;
        margin-right: 0;
    }

}
