

.loginsignup{
    width: 100%;
    height: 80vh;
    background-image: url("../images/loginpage.jpg");   
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    margin-bottom: 35px;
   
}
.loginsignup-container {
    position: relative;
    width: 580px;
    height: 600px;
    background-color: rgb(255, 255, 255, 0.6);
    margin: auto;
    padding: 40px 60px;
    border: 1px solid transparent; /* Make sure to set the border as solid */
    border-radius: 40px;
    transition: border-color 0.3s ease-in-out; /* Add transition for smooth effect */
    overflow: hidden; /* Hide overflow for blurred effect */
}

.loginsignup-container:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    border: 10px solid transparent;
    border-radius: 50px; 
    backdrop-filter: blur(10px); 
    transition:  0.3s ease-in-out; 
    
}

.loginsignup-container:hover {
    transform: scale(1.01); 
}

.loginsignup-container:hover {
    border-color: #3c3c3c; 
    animation: rainbowBorder 2s linear infinite; 
}

@keyframes rainbowBorder {
    0% {
        border-color: #ff0000; 
    }
    16.67% {
        border-color: #ff9900; 
    }
    33.33% {
        border-color: #ffff00; 
    }
    50% {
        border-color: #00ff00; 
    }
    70.45%{
        border-color: #0000ff; 
    }

        
    83.33% {
        border-color: #9900ff; 
    }
    100% {
        border-color: #ff0000; 
}
}
/*.styled{
    width: 692px;
    height: 675px;
    background: white;
    border: 5px solid;
    top: 205px;
    left: 860px;
    border-color: #3d98c2;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 0;
    position: absolute;

}*/
/*.styled:hover{
   
    background: white;
    border: 5px solid;
    border-color: #3d98c2;
    border-top-left-radius: 0;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 0;
    width: 680px;
    height: 640px;
  position: absolute;
  top: 265px;
  left: 920px;
  transition: 0.4s;



}*/
.loginsignup-container h1{
    margin: 20px 20px 40px 40px;
    color: rgb(0, 0, 0);
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    margin-top:30px ;
    gap: 29px;
    justify-content: center;
}

.loginsignup-fields input{
    width: 82%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    margin-left: 50px;
    outline: none;
    font-size: 26px;
    background: transparent;
    color: #000000;
}
.loginsignup-fields input:hover{
    border: 2.8px solid ;
    border-color: rgb(1, 1, 70);
}
.loginsignup-fields input::placeholder{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}
.loginsignup-container button{
    width: 200px;
    height: 72px;
    color: rgb(0, 0, 0);
    background:transparent;
    margin-top: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    font-size: 24px;
    margin-left: 188px;
    font-weight: 700;
    cursor: pointer;
}
.loginsignup-container button:active{
    background-color: #898686;
}
.loginsignup-login{
    margin-top: 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-agree input{
   width:22px;
   height: 22px;
   outline: none;
   border: none;
   background-color: white;
   color: black;
   border-radius: 20px;
}
