.descriptionbox{
    margin  :120px 170px ; 
}
.descriptionbox-navigator{
    display: flex;
    gap: 15px;
    
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 2px solid black;
    border-radius: 10px;
    gap: 10px;

}
.descriptionbox-nav-box fade{
    background-color: #fbfbfb;
    color :#555; 
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 2px solid #606060;
    padding: 48px;
    padding-bottom: 70px;
    margin-top: 15px;
    font-size: 29px;
    font-weight: 450px;
    border-radius: 10px;
}