.navbar{
    display: flex;
    align-items: center;
    
    
    gap: 40px;
    font-size: 30px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
    justify-content: space-around;
}
.nav-logo img{
    width: 52px;
    height: 52px;
    margin-top: 7px;
}
.nav-logo{
    display: flex;
    gap: 20px;
}
.nav-logo p{
    font-size: 45px;
    font-family: poppins;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap:40px ;
}
.nav-menu hr{
    background-color: red;
    height: 3px;
    border-radius: 5px;
}
.nav-cart-count{
    background-color: red;
    color: white;
    width: 22px;
    height: 17px;
    border-radius: 17px;
    font-size: 15px;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 650;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: -5px;
    left: -10px;
    margin-top: 5px;
}
.nav-login-cart{
    display: flex;
    
   
}
.nav-login-cart img{
    margin-top: 5px;
}
.nav-login-cart button{
    width: 138px;
    height: 58px;
    border-radius: 28px;
    background-color: azure;
font-weight: 500;
font-family: poppins;
font-size: 26px;
margin-right: 50px;

}
.nav-menu li{
    color: rgb(56, 34, 113);
}