.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}


.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    color: #252525;
}
.footer-links li{
    cursor: pointer;

}
.footer-links li:hover{
    color: red;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
padding: 10px;
padding-bottom: 6px;



}
.footer-icons-container:hover{
transform:scale(1.29);
transition: 0.5s;
}

.footer-copyright{
    text-align: center;
    width: 80%;
    margin: 0 auto; 
    font-size: 20px;
    margin-bottom: 50px;
}

.footer-copyright hr{
    width: 100%; 
    border: none;
    color: black;
}