.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80vh;
   width: 100%;
}
.popular h1{
    margin-top: 45px;
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
margin-top: 50px;
display: flex;
gap: 30px;

}
