.productdisplay{
    display: flex;
    margin: 0px 170px;
    gap :20px;
    margin-bottom: 50px;
}
.productdisplay-left{
    display: flex;
    gap: 41px;
    margin-left: 23px;
    margin-top: 45px;
}
.productdisplay-img-left img{
    width: 310px;
    height: 389px;
    border-radius: 20px;

}
.productdisplay-img-left{
    display: grid;
    gap: 20px;
    grid-template-columns:  1fr  1fr;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.productdisplay-img-list img{
    height: 163px;

}
.productdisplay-main-img{
    width: 586px;
    height: 700px;
    border-radius: 25px;
    margin-top: 42px;
}
.productdisplay-right{
margin-top  :56px ;
margin-left: 90px;
display: flex;
flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 44px;
    font-weight: 700 ;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 23px;
    margin-left: 5px;
    font-weight: 500;
}
.productdisplay-right-stars p{
    font-weight: 500;
    font-size: 23px;
    margin-left: 5px;
}
.productdisplay-right-stars img{
    width: 32px;
    height: 32px;

}
.productdisplay-right-prices{
    display: flex;
    margin: 19px 0px 9px 0px ;
    gap :30px;
    font-size: 24px;
    font-weight: 700;
}
#der{
    margin-top: 25px;

}
.productdisplay-right-price-old{
   
    color: #ed0000;
   
    text-decoration: line-through;
    
 }
 .productdisplay-right-price-new{
    color: #019813;
    font-size: 30px;
 }
 .productdisplay-right-size h1{
    margin-top: 18px;
    color : #656565 ;
     font-size: 40px;
     font-weight: 600;
}
.productdisplay-right-sizes{

    display: flex;
    justify-content: space-between;
   margin : 30px 0px 40px 0px ;
    gap :20px ;
}
.productdisplay-right-sizes div{
    border-radius: 15px;
    border: 2px solid black;
    
    font-size: 19px;
font-weight: 400;
   padding: 20px 20px 20px 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 45px;
    user-select: none;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background: #ed0000;
    margin-bottom : 40px ; 
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 9px;
    user-select: none;
}
.productdisplay-right-category{
    margin-top: 10px;

}
.productdisplay-right-category span {
    font-weight: 800;
    font-size: 19px;
}
.productdisplay-right-category{
    font-size: 19px;
    font-weight: 700;
}
.size-item.selected {
    background-color:  #ed0000;
    color: #fff;
    border-color:  #ed0000;
    user-select: none;
  }
